#questions{
    margin-top: 30px;
    /* height: 83vh; */
}

/* .question-list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 83vh;
    overflow: scroll;
} */

.question-list-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#questionList::-webkit-scrollbar {
    display: none;
   }

/* .question-list-item{
    display: flex;
    justify-content: space-evenly;
} */
#textResponse {
    margin-right: 5px;
}

.confirm_delete{
    margin-top: 10px;
    border: none;
    background-color: rgb(250, 237, 205);
    border-radius: 25px;
    width: 110px;
    height: 40px;
    color:  rgb(83, 83, 83);
    font-weight: 700;
}

.green{
    background-color: rgb(193, 241, 227);
    color: rgb(83, 83, 83);
}