body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 99%;
    margin-top: 50px;
}

main{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#container-inicial{
    width: 300px;
}

h1{
    font-size: 56px;
}

#container-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(120, 200, 200, 0.5);
    padding: 0 15px;
    height: 700px;
    font-size: 10pt;
}

#logo{
    width: 280px;
    margin-bottom: 15px;
}

#datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.hueco{
    margin-top: 15px;
    height: 35px;
    width: 250px;
    border-radius: 5px;
    background-color: rgba(120, 200, 200, 0.2);
    border: 1px solid rgba(120, 200, 200, 0.5);
    padding-left: 10px;
}

button{
    border: 1px solid rgb(44, 44, 44);
    height: 35px;
    width: 250px;
    border-radius: 15px;
    margin: 20px;
    font-size: 12pt;
    font-weight: 600;
    cursor: pointer;
}

.p-cond{
    width: 290px;
}

#division{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.linea{
    border-top: 1px solid rgb(44, 44, 44);
    width: 130px;
}

#google{
    border: 1px solid rgb(44, 44, 44);
    height: 35px;
    width: 250px;
    color: white;
    border-radius: 15px;
    margin: 0 auto;
    font-size: 10pt;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#logo_google{
    width: 15px;
    height: 15px;
}

#login{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    font-size: 10pt;
    width: 100%;
    border: 1px solid rgba(120, 200, 200, 0.2);
}
#login a{
    font-weight: 700;
}
/*Pie de pagina*/
footer {
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    color: gray;
    display: flex;
    flex-direction: column; 
    margin: auto;
    margin-top: 30px;
}
ul {
    list-style: none;
    display: flex;
}
li {
    margin: 20px;
}

.pie1 {
    display: flex;
    margin: auto;
}

.pie2 {
    display: flex;
    margin: auto;
    color: gray;
}
.idioma {
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    width: fit-content;
    border: 0;
    color: gray;
    margin-right: 10px;
}
