@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap%27');

*{
    font-family: 'Tilt Neon', cursive;
}

a {
    text-decoration: none;
}


html, body{
    min-height: 100vh;
    }

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 80px;
}

#main_container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#welcome_container {
    width: 300px;
    display: flex;
    align-items: center;
}

h1{
    font-size: 3.4rem;
}

#form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(120, 200, 200, 0.5);
    padding: 0 15px;
    height: 450px;
    width: 300px;
    font-size: 10pt;
}

#logo{
    width: 280px;
    margin-bottom: 15px;
}

#fields{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.puts{
    margin-top: 15px;
    height: 35px;
    width: 250px;
    border-radius: 5px;
    background-color: rgba(120, 200, 200, 0.2);
    border: 1px solid rgba(120, 200, 200, 0.5);
    padding-left: 10px;
}

button{
    height: 35px;
    width: 250px;
    border-radius: 15px;
    margin: 0 auto;
    font-size: 12pt;
    font-weight: 600;
    background-color:  rgb(193, 241, 227);
    border: none;
    transition: 0.5s;
}

button a{
    color: rgb(44, 44, 44);
}

button:hover {
    background-color: rgb(153, 230, 205);
    transition: 0.5s;
}

#divide{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.line{
    border-top: 1px solid rgb(44, 44, 44);
    width: 130px;
}

#google{
    border: 1px solid rgb(44, 44, 44);
    height: 35px;
    width: 250px;
    color: white;
    border-radius: 15px;
    margin: 0 auto;
    font-size: 10pt;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#logo_google{
    width: 15px;
    height: 15px;
}

#save{
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#forgot{
    font-size: 10pt;
    color: black;
}

#register{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    font-size: 10pt;
    width: 100%;
    border: 1px solid rgba(120, 200, 200, 0.2);
}

#register a{
    font-weight: 700;
}

/*Pie de pagina*/
footer {
    margin: 0 auto;
    font-size: x-small;
    color: gray;
    display: flex;
    flex-direction: column; 
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
li {
    margin: 0 20px 0 20px;
}

.pie1 {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.pie2 {
    display: flex;
    margin: auto;
    color: gray;
}
.idioma {
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    width: fit-content;
    border: 0;
    color: gray;
    margin-right: 10px;
}

/*media queries*/

@media (min-width: 1024px){
    #main_container{
        gap: 50px;
    }
}

@media (max-width: 768px) {
    h1{
        font-size: 3rem;
        
    }
}
 
@media (max-width: 600px) {
    h1{
        font-size: 1.4rem;
        text-align: center;
    }
}

@media (max-width:375px){
    #form_container{
        width: auto;
        border: none;
    }

    #register{
        width: 100%;
    }
}
