@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap%27');

*{
    font-family: 'Tilt Neon', cursive;
}

a{
    text-decoration: none;
    color: #0d6efd;
}

<<<<<<< HEAD

/* html, body{
    min-height: 100vh;
    }

=======
>>>>>>> maxi
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98vh;
    background: rgb(234, 243, 243);
}

main{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

#container-initial{
    width: 300px;
<<<<<<< HEAD
    display: flex;
    align-items: center;
} */
=======
}
>>>>>>> maxi

h1{
    font-size: 56px;
}
<<<<<<< HEAD

/* #form_container{
=======
#container-initialr{
    background-color: white;
    padding: 25px;
    border-radius: 25px;
}
#container-form{
>>>>>>> maxi
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(120, 200, 200, 0.5);
    padding: 0 15px;
    font-size: 10pt;
<<<<<<< HEAD
} */
=======
    background:  rgb(222,225,232);
    border-radius: 0 0 15px 15px;
}
>>>>>>> maxi

#logo{
    width: 320px;
    height: 65px;
    background: rgb(43,48,53);
    border-radius: 15px 15px 0 0;
    padding: 10px
}
<<<<<<< HEAD
/* 
#fields{
=======

#data{
>>>>>>> maxi
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
} */

<<<<<<< HEAD
=======
.fields{
    margin-top: 15px;
    height: 35px;
    width: 250px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgba(120, 200, 200, 0.5);
    padding-left: 10px;
}
>>>>>>> maxi

button{
    height: 35px;
    width: 250px;
    border-radius: 15px;
    margin: 0 auto;
    font-size: 12pt;
    font-weight: 600;
    background-color:  rgb(193, 241, 227);
    border: none;
    transition: 0.5s;
}

button:enabled{
    cursor: pointer;
}

button:enabled:hover{
    background-color: rgb(153, 230, 205);
    transition: 0.5s;
}

button a{
    color: rgb(44, 44, 44);
}


#save{
    padding: 20px;
}
<<<<<<< HEAD
/* 
#divide{
=======



.p-cond{
    width: 290px;
}

#division{
>>>>>>> maxi
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
} */

/* .line{
    border-top: 1px solid rgb(44, 44, 44);
    width: 130px;
} */

#google{
    height: 35px;
    width: 250px;
    color: white;
    border-radius: 15px;
    margin: 0 auto;
    font-size: 10pt;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    background-color: white;
}

#logo_google{
    width: 15px;
    height: 15px;
}
<<<<<<< HEAD
/* 
#save{
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
} */

/* #forgot{
    font-size: 10pt;
    color: black;
}
=======
>>>>>>> maxi

#register{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 100%;
    border: 1px solid rgba(120, 200, 200, 0.2);
<<<<<<< HEAD
}

#register a{
    font-weight: 700;
} */

.container {
    background-color: rgb(222,225,232);
    border-radius: 15px;
=======
    background-color: rgb(222,225,232); 
    border-radius: 15px;
    font-weight: 600;
>>>>>>> maxi
}

/*Pie de pagina*/
footer {
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    color: gray;
    display: flex;
    flex-direction: column; 
    margin: 0 auto;
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
li {
    margin: 20px;
}

.foot1 {
    display: flex;
    margin: auto;
}

.foot2 {
    display: flex;
    margin: auto;
    color: gray;
}
.language {
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    width: fit-content;
    border: 0;
    background-color: rgb(234, 243, 243);
    color: gray;
    margin-right: 10px;
}

/*media queries*/

@media (min-width: 1024px){
    #main_container{
        gap: 50px;
    }
}

@media (max-width: 768px) {
    h1{
        font-size: 3rem;
        
    }
}
 
@media (max-width: 600px) {
    h1{
        font-size: 1.4rem;
        text-align: center;
    }
}

@media (max-width:375px){
    #form_container{
        width: auto;
        border: none;
    }

    #register{
        width: 100%;
    }
}
