#col_left{
    display: flex;
    min-width: 280px;
    background-color: white;
    border-radius: 25px;
    align-content: baseline;
}

#userData{
    display: flex;
    flex-direction: column;
}

#thirdPersonPhoto_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    height: 150px;
    width: 150px;
    align-self: center;
}

#thirdPersonPhoto{
    width: auto;
    height: 105%;
    display: block;
    object-fit: cover;
    padding: 0;
}

.icon{
    width: 20px;
    margin-bottom: 0;
}

.img-not{
    width: 25%;
}
