/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap%27');
/*font-family: 'Tilt Neon', cursive;*/

*{
    margin: 0;
    font-family: 'Tilt Neon', cursive;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/*Clase para llevar hasta el borde de la pantalla*/
.no-padding{
    padding: 0;
}

.no_margin{
    margin: 0;
}

/*Clase para centrado flex*/
.centrado_flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*header*/

.navbar{
    padding-left: 20px;
    padding-right: 20px;
}

#logo{
        width: 250px;
}

#navbarToggler{
    flex-grow: 0;
}

#nav_profile{
    width: 150px;
    gap: 20px;
    justify-content: space-around;
}

#nav_profile img{
    height: 55px;
    cursor: pointer;
    border-radius: 50%;
}

#nav_profile span{
    width: 28px;
    height: 36px;
}

#nav_profile  i{
    font-size:18pt;
    color: white;
}

body{
    background-color: rgb(234, 243, 243);
}

/*search input*/

#searchbar{
    width: 25%;
    min-width: 340px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin: auto;
}

#search-wrapper{
    position: relative;
    width: 67%;
    transition: 0.5s;
}

#search_input{
    height: 35px;
    width: 100%;
    border: none;
    border-radius: 25px;
    padding-left: 45px;
    padding-right: 10px ;
    font-size: 12pt;
    background-color: #f2f2f2;
    min-width: 300px;
}

#search-wrapper:hover{
    width: 100%;
    transition: 0.5s;
}

header i {
    position: absolute;
    margin-left: 20px;
    margin-top: 3px;
}

#navbarToggler ul{
    display: none;
}
/*main*/

main{
    width: 100%;
    padding-top: 20px;
}

#main_container{
    margin-top: 73px;
    justify-content: space-around;
    padding-left: 63px;
}

/*menu superior*/

#menu_superior_container{
    display: none;
}

#menu_superior{
    width: 100%;
    justify-content: center;
    align-content: center;
    height: 50px;
    gap: 20px;
    margin-bottom: 10px;
}

/*menu lateral*/

#menu_lateral{
    position: absolute;
    border-radius: 0 15px 15px 0;
    left: 0;
    height: 300px;
    align-items: center;
    min-width: 56px;
}

#menu_lateral div, #menu_superior{
    text-align: center;
}

#menu_lateral i, #menu_superior i{
    font-size: 2.2rem;
    color: white;
}

#news_icon{
    display: none;
}

/*columna izquierda */
#col_izq{
    display: flex;
    flex-wrap: wrap;
    min-width: 280px;
    background-color: white;
    border-radius: 25px;
    align-content: baseline;
}

.foto{
    width: 65%;
    display: flex;
    margin: auto;
    border-radius: 50%;
}

.icon{
    width: 20px;
    margin-bottom: 0;
}

.img-not{
    width: 25%;
}


/* columna central */

#col_cen{
    background-color: white;
    border-radius: 25px;
}

.fotoPost {
    width: 75px;
    height: 50px;
    border-radius: 50%;
}

.bi {
    font-size: 20px;
    color: rgb(3, 69, 3);
    padding: 2px;
}

.botonPublicar {
    width: 180px;
    border-radius: 20px;
}

.newPost,
.post,
.request_container,
.datos,
.noticias,
select {
    background-color: rgb(222,225,232);
    border-radius: 15px;
}

.datos{
    max-height: 668px;
    min-height: 458px;
}

textarea {
    resize: none;
    margin-left: 2px;
}

/*solicitudes de amistad*/

#col_der{
    display: none;
}

.friend_request{
    height: 100%;
    width: 100%;
    min-width: 280px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
}

.request_container{
    display: flex;
    flex-direction: column;
}

.like_container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.likes{
    display: flex;
    gap: 5px;
}

.comment{
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.request_container_profile{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}

.request_container_profile span{
    display: block;
}

.friend_photo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#photo1{
    background: url(../img/friend_1.jpg) center/cover no-repeat;
}

#photo2{
    background: url(../img/friend_2.jfif) center/cover no-repeat;
}

#photo3{
    background: url(../img/friend_3.jfif) center/cover no-repeat;
}

#photo4{
    background: url(../img/4.jfif) center/cover no-repeat;
}

.button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.confirm_delete{
    margin-top: 10px;
    border: none;
    background-color: rgb(250, 237, 205);
    border-radius: 25px;
    width: 110px;
    height: 40px;
    color:  rgb(83, 83, 83);
    font-weight: 700;
}

.gray{
    background-color: rgb(193, 241, 227);
    color: rgb(83, 83, 83);
}


/*chat*/

#chat{
    background-color: white;
    border-radius: 15px 15px 0 0;
    height: 60px;
    width: 300px;
    position: fixed;
    bottom: 0;
    right: 10px;
    box-shadow: -5px -7px 20px -8px rgba(0,0,0,0.06);
    -webkit-box-shadow: -5px -7px 20px -8px rgba(0,0,0,0.06);
    -moz-box-shadow: -5px -7px 20px -8px rgba(0,0,0,0.06);
}

#chat_container{
    width: 90%;
    display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   gap: 20px;
}

#chat_avatar{
    height: 40px;
}

button:hover {
    border: 1px solid rgb(83, 83, 83);
}

/*Pie de pagina*/
footer {
    width: 50%;
    justify-self: flex-end;
    font-family: 'Roboto'
    , sans-serif;
    font-size: x-small;
    color: gray;
    display: flex;
    flex-direction: column; 
}
ul {
    list-style: none;
    display: flex;
}
li {
    margin: 20px;
}

.pie1 {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.pie2 {
    display: flex;
    margin: auto;
    color: gray;
}
.idioma {
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    width: fit-content;
    border: 0;
    color: gray;
    margin-right: 10px;
}


/*media queries*/

@media (min-width: 1200px) {
    #menu_lateral {
        display: none;
    }
    #col_der{
        display: flex;
    }
    #main_container{
        padding: 0;
    }
}

@media (max-width: 1200px) {
    #chat{
        display: none;
    }
}

@media (max-width: 795px){
    #searchbar{
        order: 3;
        align-self: center;
    }
    #main_container{
        margin-top: 100px;
    }
}

@media (min-width: 768px){
    #col_izq{
        display: flex;
    } 
} 

@media (max-width: 768px){
   
    #col_cen{
        max-width: 600px;
    }
    #col_izq{
        display: none;
    } 
    
    #news_icon{
        display: inline-block;
    }
}

@media (max-width: 556px){
    #main_container{
        margin-top: 70px;
    }
    #menu_lateral{
        display: none;
    }

    #main_container{
        padding-left: 0;
    }

    #menu_superior_container{
        display: flex;
        letter-spacing:10pt;
        padding-top: 5px;
    }
    #nav_profile{
        display: none;
    }    
    #navbarToggler ul{
        display:contents;
    }
    #navbarToggler li{
        text-align: right;
    }

}

@media (max-width: 456px){
    #logo_link{
        max-width: 70%;
    }
}

@media (max-width: 366px){
    #logo{
        max-width: 184px;
    }
}