
*{
    margin: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/*Clase para llevar hasta el borde de la pantalla*/
.no-padding{
    padding: 0;
}

.no_margin{
    margin: 0;
}

/*Clase para centrado flex*/
.centrado_flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*header*/

.navbar{
    padding-left: 20px;
    padding-right: 20px;
}

#logo{
        width: 250px;
}

#navbarToggler{
    flex-grow: 0;
}

#nav_profile{
    gap: 20px;
}

#nav_profile img{
    height: 55px;
    cursor: pointer;
}

#nav_profile  i{
    font-size:18pt
}

body{
    background-color: rgb(222,225,232);
}

/*search input*/



#search-wrapper{
    position: relative;
}

#searchbar{
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 25px;
    padding-left: 45px;
    font-size: 12pt;
    background-color: #f2f2f2;
}

header i {
    position: absolute;
    margin-left: 20px;
    margin-top: 12px;
}

/*main*/

main{
    width: 100%;
    padding-top: 20px;
}

#main_container{
    margin-top: 73px;
    height: 100vh;
    justify-content: space-around;
}

#col_izq{
    border: 1px solid red;
}

/*chat*/

#chat{
    background-color: white;
    border-radius: 15px 15px 0 0;
    height: 60px;
    width: 300px;
    position: fixed;
    bottom: 0;
    right: 10px;
}

#chat_container{
    width: 90%;
    display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   gap: 20px;
}

#chat_avatar{
    height: 40px;
}


/*Pie de pagina*/
footer {
    border: 1px solid red;
    width: 50%;
    justify-self: flex-end;
    font-family: 'Roboto'
    , sans-serif;
    font-size: x-small;
    color: gray;
    display: flex;
    flex-direction: column; 
}
ul {
    list-style: none;
    display: flex;
}
li {
    margin: 20px;
}

.pie1 {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.pie2 {
    display: flex;
    margin: auto;
    color: gray;
}
.idioma {
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    width: fit-content;
    border: 0;
    color: gray;
    margin-right: 10px;
}