#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(234, 243, 243);
}

html{
    height: 100%;
    margin: 0;
}

body{
    min-height: 100%;
    width: 100vw;
}
