*{
    margin: 0;
    font-family: 'Tilt Neon', cursive;
}

body {   
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 243, 243);
    margin: 0 auto;
    align-items: center;
}

h4 {
    color: black;
}

.container_header {
    height: 65px;
    background-color: rgb(43,48,53);
    border-radius: 15px 15px 0 0;
    padding: 10px;
    color: white;
    margin-bottom: 5px;
}

.container {
    background-color: rgb(222,225,232);
    border-radius: 15px;
}

#first-container{
    border-radius: 0 0 15px 15px;
}

#fotoPerfil {
    width: 140px;
    height: 130px;
    border-radius: 50%;    
}

#first-container_row .col-3{
    position: relative;
    margin-left: 20px;
}

#upload button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgb(177, 162, 162);
    border: none;
    border-radius: 50%;
    bottom: -10px;
    right: 8px;
    cursor: pointer;
    padding: 0;
}

#upload svg{
    color: rgb(39, 36, 36);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

label {
    color: rgb(83, 83, 83);
    margin-right: 15px;
}

/* input,
select, 
input[type="date"],
input[type="checkbox"],
textarea {
    margin-bottom: 15px;
    color: gray;
} */

Field {
    margin-bottom: 15px;
    color: gray;
}
textarea{
    resize: none;
}

/* botones */
.confirm_delete{
    margin-top: 10px;
    border: none;
    background-color: rgb(250, 237, 205);
    border-radius: 25px;
    width: fit-content;
    height: 40px;
    color:  rgb(83, 83, 83);
    font-weight: 700;
}

.green {
    background-color: rgb(193, 241, 227);
    color: rgb(83, 83, 83);
}

button a {
    color: rgb(83, 83, 83);
    text-decoration: none;
}

button:hover {
    border: 1px solid rgb(83, 83, 83);
}

/*loader*/

#loader{
    position: fixed;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(119, 116, 116, 0.7);
    z-index: 2;
}

#loader span{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
