@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap%27');

*{
    font-family: 'Tilt Neon', cursive;
}

a{
    text-decoration: none;
    color: #0d6efd;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98vh;
    background: rgb(234, 243, 243);
}

main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

#container-initial{
    width: 300px;
}

h1{
    font-size: 56px;
}
#container-initialr{
    background-color: white;
    padding: 25px;
    border-radius: 25px;
}
#container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(120, 200, 200, 0.5);
    padding: 0 15px;
    font-size: 10pt;
    background:  rgb(222,225,232);
    border-radius: 0 0 15px 15px;
}

#logo{
    width: 320px;
    height: 65px;
    background: rgb(43,48,53);
    border-radius: 15px 15px 0 0;
    padding: 10px
}

#data_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input_form{
    margin-top: 15px;
    height: 35px;
    width: 250px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgba(120, 200, 200, 0.5);
    padding-left: 10px;
}

#register:enabled:hover{
    background-color: rgb(153, 230, 205);
    transition: 0.5s;
}

button{
    height: 35px;
    width: 250px;
    border-radius: 15px;
    margin: 0 auto;
    font-size: 12pt;
    font-weight: 600;
    background-color:  rgb(193, 241, 227);
    border: none;
    transition: 0.5s;
}

button:enabled{
    cursor: pointer;
}

button a{
    color: rgb(44, 44, 44);
}

.p-cond{
    width: 290px;
}

#division{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.line{
    border-top: 1px solid rgb(44, 44, 44);
    width: 130px;
}

#google{
    height: 35px;
    width: 250px;
    color: white;
    border-radius: 15px;
    margin: 0 auto;
    font-size: 10pt;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    background-color: white;
}

#logo_google{
    width: 15px;
    height: 15px;
}

#login{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    font-size: 10pt;
    width: 100%;
    /* border: 1px solid rgba(120, 200, 200, 0.2); */
    background-color: rgb(222,225,232); 
    border-radius: 15px;
    font-weight: 600;
}
#login a{
    font-weight: 700;
}

/*loader*/

#loader{
    position: fixed;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(119, 116, 116, 0.7);
    z-index: 2;
}

#loader span{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

/*Pie de pagina*/
footer {
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    color: gray;
    display: flex;
    flex-direction: column; 
    margin:0 auto;
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
li {
    margin: 20px;
}

.foot1 {
    display: flex;
    margin: auto;
}

.foot2 {
    display: flex;
    margin: auto;
    color: gray;
}
.language {
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    width: fit-content;
    border: 0;
    background-color: rgb(234, 243, 243);
    color: gray;
    margin-right: 10px;
}
