#feed_main_container {
    height: 100vh;
    justify-content: space-around;

}

#feed_col_left, #feed_col_right, #feed_col_cen {
    background-color: white;
    border-radius: 15px;
    overflow: scroll;
    height: fit-content;
}
#feed_col_left::-webkit-scrollbar, #feed_col_right::-webkit-scrollbar, #feed_col_cen::-webkit-scrollbar {
    display: none;
}

#feed_col_left, #feed_col_right{
    margin-top: 20px;
}

#feed_col_cen{
    padding-top: 20px;
    height: 100%;
    border-radius: 0 0 15px 15px;
}