#profile_main_container {
    height: 100dvh;
    justify-content: space-evenly;
}

#profile_col_right, #profile_col_cen {
    background-color: white;
    overflow: scroll;
    height: fit-content;
}

#profile_col_right::-webkit-scrollbar, #profile_col_cen::-webkit-scrollbar {
    display: none;
}

#profile_col_left, #profile_col_right{
    margin-top: 20px;
    min-width: 300px;
    border-radius: 15px;
    background-color: white;
    height: fit-content;
}

#profile_col_cen{
    padding-top: 20px;
    height: 100%;
    border-radius: 15px;
}

/*media queries*/

@media (max-width: 991px) {
    #profile_col_right{
        display: none;
    }
}