/* main */

#helpArrow{
    color: black;
    
}

#contact_main_container{
    margin: 0 auto;
    border-radius: 25px;
    justify-content: space-around;
    height: fit-content;
    width: fit-content;
    
}

#options_menu{
    display: none;
}

#col_left, #col_right{
    background-color: white;
}

#col_left{
    min-width: 300px;
}

#col_right {
    display: flex;
    border-radius: 25px;
}

#container_help {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
}

.error-message {
    width: fit-content;
}

/* Boton enviar consulta */

.confirm_delete{
    margin-top: 10px;
    border: none;
    background-color: rgb(250, 237, 205);
    border-radius: 25px;
    width: 110px;
    height: 40px;
    color:  rgb(83, 83, 83);
    font-weight: 700;
}

.green{
    background-color: rgb(193, 241, 227);
    color: rgb(83, 83, 83);
}

.container_contact,
.container_experience,
.container_studies,
.container_others {
    background-color: rgb(222,225,232);
    border-radius: 15px;
}

#col_left-container{
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.options_list{
    padding: 0;
}

.options_list li{
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 0 25px 25px 0;
    background-color: #e1d5d5;
    text-align: center;
    width: 230px;
    height: 40px;
    cursor: pointer;
    margin-left: 0;
}

.options_list li:hover{
    background-color: #b5aaaa;
}

.options_list li i{
    margin-left: 40px;
}

.options_list a{
    color: #000;
    margin-left: 10px;
}

#phone{
    min-width: 133px;
}

/* Cabecera perfil */
#profilePhoto {
    width: 140px;
    height: 130px;
    border-radius: 50%;    
}

.bi-pencil {
    width: fit-content;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -appearance: none;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

#consultSended{
    height: fit-content;
    margin: auto;
}